 .u-section-1 {
  min-height: 704px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 724px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 724px;
  background-image: url("images/c292308ab270dd9220d7e147d6aba7d1e713d3c9ce031eb7d90827dff5c80fc0120018a71fe08f6a98a7eb6cae22b3845364952f96efd128bbd4c7_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 577px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 597px;
  }

  .u-section-1 .u-image-1 {
    min-height: 597px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 437px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 457px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1046px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 686px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 792px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -52px;
  }

  .u-section-1 .u-image-1 {
    min-height: 432px;
  }
} .u-section-2 {
  min-height: 933px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 468px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-image-1 {
  min-height: 465px;
  background-image: url("images/photo-1561827978-45f07fa822fe.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 933px;
  background-image: url("images/caab1615fac9c653f7309b0722e768021c9ee312a87914c9b9fbefd120787acaeeaa3519b7d95abc2a356656d2fb136bacd1da31152b0c69dd456e_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 468px;
  background-image: url("images/photo-1619714604882-db1396d4a718.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 465px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 15px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 773px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-2 .u-image-1 {
    min-height: 383px;
  }

  .u-section-2 .u-image-2 {
    min-height: 769px;
  }

  .u-section-2 .u-image-3 {
    min-height: 386px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 383px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 75px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 2024px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 440px;
  }

  .u-section-2 .u-image-2 {
    min-height: 884px;
  }

  .u-section-2 .u-image-3 {
    min-height: 887px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 3134px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 660px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 1326px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 665px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1654px;
  }

  .u-section-2 .u-image-1 {
    min-height: 416px;
  }

  .u-section-2 .u-image-2 {
    min-height: 835px;
  }

  .u-section-2 .u-image-3 {
    min-height: 419px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 428px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 838px;
  margin: 23px auto 0;
}

.u-section-3 .u-btn-1 {
  margin: 18px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-left: 79px;
    margin-right: 79px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-4 {
  min-height: 774px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 774px;
  background-image: url("images/photo-1511690656952-34342bb7c2f2.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 774px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 207px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 258px;
  background-image: url("images/photo-1613526949297-1aba25022d0c.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 258px;
  background-image: url("images/photo-1505253668822-42074d58a7c6.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 258px;
  background-image: url("images/photo-1591439902309-74b3f647bcb0.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 685px;
  }

  .u-section-4 .u-image-1 {
    min-height: 638px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 638px;
  }

  .u-section-4 .u-image-2 {
    min-height: 236px;
  }

  .u-section-4 .u-image-3 {
    min-height: 236px;
  }

  .u-section-4 .u-image-4 {
    min-height: 236px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1343px;
  }

  .u-section-4 .u-image-1 {
    min-height: 643px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 700px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-image-2 {
    min-height: 233px;
  }

  .u-section-4 .u-image-3 {
    min-height: 233px;
  }

  .u-section-4 .u-image-4 {
    min-height: 233px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 2244px;
  }

  .u-section-4 .u-image-1 {
    min-height: 482px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 525px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 525px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 525px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1502px;
  }

  .u-section-4 .u-image-1 {
    min-height: 303px;
  }

  .u-section-4 .u-image-2 {
    min-height: 331px;
  }

  .u-section-4 .u-image-3 {
    min-height: 331px;
  }

  .u-section-4 .u-image-4 {
    min-height: 331px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 387px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 18px 113px 0;
}

.u-section-5 .u-btn-1 {
  margin: 35px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  min-height: 647px;
}

.u-section-6 .u-list-1 {
  margin-top: 1px;
  margin-bottom: -1px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 647px;
  --gap: 20px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/7071.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-image-2 {
  background-image: url("images/2150598337.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-image-3 {
  background-image: url("images/2148149130.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 530px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -118px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 533px;
    grid-gap: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1255px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.999975px);
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1225px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 472px;
}

.u-section-7 .u-group-1 {
  width: 800px;
  min-height: 352px;
  height: auto;
  margin: 60px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-form-1 {
  height: 50px;
  width: 570px;
  margin: 89px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-7 .u-group-1 {
    min-height: 353px;
    height: auto;
  }

  .u-section-7 .u-text-2 {
    width: 557px;
    margin-top: 24px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    width: 520px;
  }

  .u-section-7 .u-form-1 {
    width: 520px;
    margin-top: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    min-height: 395px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-7 .u-form-1 {
    width: 320px;
    margin-top: 107px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-8 {
  min-height: 724px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-8 .u-image-1 {
  min-height: 724px;
  background-image: url("images/photo-1653233796627-3416bd71a365.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 724px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 86px auto 0;
}

.u-section-8 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-8 .u-btn-1 {
  margin: 36px auto 0;
}

.u-section-8 .u-text-3 {
  margin: 21px auto 0;
}

.u-section-8 .u-text-4 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 597px;
  }

  .u-section-8 .u-image-1 {
    min-height: 597px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 597px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 457px;
  }

  .u-section-8 .u-image-1 {
    min-height: 457px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-8 .u-text-3 {
    margin-top: 96px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 1292px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -40px;
  }

  .u-section-8 .u-image-1 {
    min-height: 686px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 587px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-2 {
    width: 73px;
    margin-top: 40px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 128px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1048px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-8 .u-image-1 {
    min-height: 416px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 632px;
  }

  .u-section-8 .u-text-2 {
    width: 153px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-8 .u-text-3 {
    margin-top: 105px;
  }
}